{% extends 'host.html' %}


{% block host-titel %}

  

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<h4 class="sub-header">主机批量管理</h4>

<script type="text/javascript" src="/static/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/static/js/jquery.ztree.excheck-3.5.js"></script>
<link rel="stylesheet" href="/static/tree/css/zTreeStyle/zTreeStyle.css" type="text/css">

<SCRIPT type="text/javascript">
	$(document).ready(function(){
	  $.get('/hostManagerlist/',function(returnData){
       // $.getJSON('/hostManagerlist/',function(returnData){
        console.log(returnData);
        var groupDic=JSON.parse(returnData)
        var groupObj=groupDic['manager_group']

        //用each的方法获取JSON值

        $.each(groupObj,function(key,value){

         zNodes2 =[{id:key, pId:0, name:value[0]},]

            //row_content="<tr><td><a href=/groupDetail/"+key+">"+value[0]+"</a></td><td>"+value[1]+"</td></tr>"
         //$("#treeDemo").append(zNodes);
          console.log(zNodes)

        });//.each

		var setting = {
			view: {
				selectedMulti: false
			},
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
				onCheck: onCheck
			}
		};


		var zNodes1 =[
			{ id:1, pId:0, name:"随意勾选 1", open:true},
			{ id:11, pId:1, name:"随意勾选 1-1"},
			{ id:12, pId:1, name:"随意勾选  1-2", open:true},
			{ id:121, pId:12, name:"随意勾选 1-2-1", checked:true},
			{ id:122, pId:12, name:"随意勾选 1-2-2"},
			{ id:123, pId:12, name:"随意勾选 1-2-3"},
			{ id:13, pId:1, name:"随意勾选 1-3"},
			{ id:2, pId:0, name:"随意勾选 2", open:true},
			{ id:21, pId:2, name:"随意勾选 2-1"},
			{ id:22, pId:2, name:"随意勾选 2-2", open:true},
			{ id:221, pId:22, name:"随意勾选 2-2-1", checked:true},
			{ id:222, pId:22, name:"随意勾选 2-2-2"},
			{ id:223, pId:22, name:"随意勾选 2-2-3"},
			{ id:23, pId:2, name:"随意勾选 2-3", checked:true}
		];

		var clearFlag = false;
		function onCheck(e, treeId, treeNode) {
			count();
			if (clearFlag) {
				clearCheckedOldNodes();
			}
		}
		function clearCheckedOldNodes() {
			var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
			nodes = zTree.getChangeCheckedNodes();
			for (var i=0, l=nodes.length; i<l; i++) {
				nodes[i].checkedOld = nodes[i].checked;
			}
		}
		function count() {
			var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
			checkCount = zTree.getCheckedNodes(true).length,
			nocheckCount = zTree.getCheckedNodes(false).length,
			changeCount = zTree.getChangeCheckedNodes().length;
			$("#checkCount").text(checkCount);
			$("#nocheckCount").text(nocheckCount);
			$("#changeCount").text(changeCount);

		}
		function createTree() {
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
			count();
			clearFlag = $("#last").attr("checked");
		}

		$(document).ready(function(){
			createTree();
			$("#init").bind("change", createTree);
			$("#last").bind("change", createTree);
		});
		//-->


});//.docment ready
});//get_json


	</SCRIPT>

<div class="row">
	<div class="zTreeDemoBackground left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
    <div class="col-md-8">
    <li>当前选中：<br/>
    <ul id="log" >
            <li>当前被勾选的节点共:<span id="checkCount" ></span> 个</li>
            <li>当前未被勾选的节点共:<span id="nocheckCount" ></span> 个</li>
            <li>勾选状态对比规则:</br>
                <input type="radio" id="init" name="stateType"  checked /><span>与默认初始选着对比</span><br/>
                <input type="radio" id="last" name="stateType" /><span>与上一次勾选后对比</span></li>
            <li>当前被修改勾选状态的节点共 <span id="changeCount" ></span> 个</li>
     </ul>
    </li>
    </div>

</div><!-- row end -->
<div class="row">
		 <form method="get">
		<div class="col-md-5">

		   <h5>输入命令:</h5>
			<div class="input-group pull-left">
			  <input type="text" class="form-control" name="ip_query" >
				<span class="input-group-btn">
						   <input class="btn btn-default" type="submit" value="运行">
				</span>
			</div><!-- /input-group -->

		</div><!-- /.col-lg-2 -->

		</form>
</div><!-- row -->


<!--
<div class="row">
       {% if group_dic %}
       {% for g,ip_list in group_dic.items %}
            <div class="checkbox" >
            <label>
            <input type="checkbox" /> {{ g }}   [数量:{{ ip_list|length }} ]

            <i  id="{{g}}" class="glyphicon glyphicon-search" onclick="showIPlist(this)"></i>
            </label>

            </div>
       {% endfor %}
	   {% endif %}

    {% for k,v in group_dic.items %}
        {{ k }} {{ v|length }} {{ v.ip }}
        </br>
    {% endfor %}
</div>
-->








{% endblock %}